<div class="text-center padded">
  <ul class="list-inline">
    <% @grid.each do |letter| %>
      <li><%=letter%></li>
    <% end %>
  </ul>
</div>

<div class="text-center">
  <form action="score" method='get'>
    <input type="hidden" value="<%= Time.now %>" name="starttime">
    <input type="hidden" value="<%= @grid.join("") %>" name="grid">
    <input type="text" placeholder="your answer" name="userinput">
    <input type="submit">
  </form>
</div>
