<h1 class="text-center">Grid Size</h1>
<div class="text-center">
  <form action="game" method="get">
  <input type="text" placeholder="grid-size" name="gridsize">
  <input type="submit" value="Send">
</form>
</div>

